<div class="about-us-container pb-0 section-container section-container-gray-bg" id="about-us">
  <div class="row banner m-0 mt-1">
    <div class="col services section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center wow fadeInDown">
      <h4 class="m-0 f-16">Who am I ?</h4>
      <h2 class="m-0 f-28"><strong>ABOUT ME</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <svg viewBox='0 0 120 100' class="hexagon wow fadeInUp">
          <path d='M38,2
                         L82,2 
                         A12,12 0 0,1 94,10
                         L112,44 
                         A12,12 0 0,1 112,56
                         L94,90       
                         A12,12 0 0,1 82,98
                         L38,98
                         A12,12 0 0,1 26,90
                         L8,56
                         A12,12 0 0,1 8,44
                         L26,10
                         A12,12 0 0,1 38,2' />
        </svg>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 p-0 about-us-box wow fadeInUp">
        <div class="about-us-box-img">
          <img src="assets/img/about/profile.jpg" width="200" height="250" alt="about" data-at2x="assets/img/about/profile.jpg">
        </div>
        <!-- <div class="hexagon">
          <img src="assets/img/about/profile.jpg" width="200" height="250" alt="about" data-at2x="assets/img/about/profile.jpg">
        </div> -->
      </div>
      <div class="col-12 col-lg-7 about-us-box wow fadeInUp">
        <div class="about-us-box-text">
          <span class="sub-header">HELLO WORLD,</span>
          <h2 class="header">I'm Naveen D B</h2>
          <p class="medium-paragraph">
            A front end developer and beginner in UI design.
          </p>
          <p>
            Around <strong>3</strong> years & <strong>4</strong> months of experience in various front end
            technologies.
          </p>
          <p>
            2015 - Completed Engineering with Computer Science background. Right after that started my carrier in a
            fast growing anaytics product startup called
            <strong>Flutura Decision Science & Analytics</strong> and my first project was for the client PHILIPS,
            where the entire
            front end development was handled by myself with the guidance of senior colleagues. This was the beginning
            to my front end carrier.
          </p>
          <p>
            2017 - Joined an Analytics company called <strong>KOGENTIX INC.</strong> where I started working
            to one of the product
            called
            <strong>AMP - Automated Machine Learning Platform</strong> where I worked on one of the core module called
            Rule Engine.
          </p>
          <p>
            Later on, worked on an internal project called <strong>IOT</strong> an Asset-Insights/Asset-Monitoring
            application, where
            the complete front end
            development handled by myself using the various technologies available.
          </p>
          <p>
            2018 - In the year end, Kogentix got acquired by <strong>Accenture</strong>, one of the top prestigious consulting firm in the world.
          </p>

          <div class="border-top mb-4"></div>

          <div class="row address wow fadeInDown">
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key"> <i class="fas fa-map-marker-alt p-2"></i>Location </p>
              <p class="value"> Bangalore, KA, INDIA </p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key"> <i class="far fa-calendar-alt p-2"></i>Age </p>
              <p class="value"> {{age}} (10/12/1992) </p>
            </div>
          </div>

          <div class="row address wow fadeInDown">
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key"> <i class="fas fa-phone p-2"></i>Phone </p>
              <p class="value"> +91-9916972978 </p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <address class="col-12 p-0">
                <a href="mailto:naveendb92@gmail.com" class="d-flex w-100 m-0">
                  <p class="key col-6 p-0 d-flex justify-content-start"> <i class="fas fa-envelope p-2"></i>Email </p>
                  <p class="value col-6 p-0 d-flex justify-content-end"> naveendb92@gmail.com </p>
                </a>
              </address>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>