<div
  class="about-us-container pb-0 section-container section-container-gray-bg"
  id="about-us"
>
  <div class="row banner m-0 mt-1">
    <div
      class="col services section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center wow fadeInDown"
    >
      <h4 class="m-0 f-16">Who am I ?</h4>
      <h2 class="m-0 f-28"><strong>ABOUT ME</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <app-hexagon></app-hexagon>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 p-0 about-us-box wow fadeInUp">
        <div class="about-us-box-img">
          <img
            src="assets/img/about/profile4.jpg"
            alt="about"
            data-at2x="assets/img/about/profile.jpg"
          />
        </div>
        <span class="img-title">Naveen D B</span>
        <p class="img-desc">Front end developer, designer</p>
        <p class="img-links">
          <a
            href="https://www.linkedin.com/in/naveen-d-b-0310a693/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.facebook.com/naveendb.jain" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/naveendb92/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/naveendb92" target="_blank">
            <i class="fab fa-github-alt"></i>
          </a>
        </p>
      </div>
      <div class="col-12 col-lg-7 mt-4 about-us-box wow fadeInUp">
        <div class="about-us-box-text">
          <h1 class="line-height-inherit">
            <p>
              A Front-end developer and a designer who strives to build
              immersive and beautiful web applications through neatly crafted
              code with user-centric design.
            </p>
            <p>
              <!-- <strong>2015</strong> -->
              <!-- <i class="fa fa-caret-right p-2"></i> -->
              <img
                class="year_icon"
                src="assets/img/about/year_icons/2015.jpg"
                alt=""
                data-at2x="assets/img/about/year_icons/2015_2.jpg"
              />
              Since graduating with a B.E. in Computer Science from
              <span class="instituteName">
                Cambridge Institute of Technology </span
              >, I have focused my carrier exclusively on front-end development.
              <br />
              Started IT carrier in a fast growing analytics product company
              <span class="instituteName">
                Flutura Decision Science & Analytics.</span
              >
              Here worked mainly on front-end development along with learning
              other technologies/tools like SQL, SSIL, Stored-Procedures, etc.
            </p>
            <p>
              <!-- <strong>2017</strong> <i class="fa fa-caret-right p-2"></i> -->
              <img
                class="year_icon"
                src="assets/img/about/year_icons/2017.jpg"
                alt=""
              />
              Joined an analytical company
              <span class="instituteName"> Kogentix Inc. </span> Here worked on
              2 main projects. <br />
              i) AMP - Automated Machine Learning Platform (worked on one of the
              module : Rule-Engine). <br />
              ii) IOT - Asset Insights.
            </p>
            <p>
              <!-- <strong>2018</strong> <i class="fa fa-caret-right p-2"></i> -->
              <img
                class="year_icon"
                src="assets/img/about/year_icons/2018.jpg"
                alt=""
              />
              At the year end Kogentix was acquired by one of the top
              prestigious consulting firm in the world - Accenture.
            </p>
            <p>
              <!-- <strong>2019</strong> <i class="fa fa-caret-right p-2"></i> -->
              <img
                class="year_icon"
                src="assets/img/about/year_icons/2019.jpg"
                alt=""
              />
              <span class="instituteName"> Accenture AI </span> worked on ZBX -
              Zero Quartile along with other projects.
            </p>
          </h1>
          <div class="border-top mb-4"></div>

          <div class="row address wow fadeInDown">
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key">
                <i class="fas fa-map-marker-alt p-2"></i>Location
              </p>
              <p class="value">Bangalore, KA, INDIA</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key"><i class="far fa-calendar-alt p-2"></i>Age</p>
              <p class="value">{{ age }} (10/12/1992)</p>
            </div>
          </div>

          <div class="row address wow fadeInDown">
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key"><i class="fas fa-phone p-2"></i>Phone</p>
              <p class="value">+91-9916972978</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <address class="col-12 p-0">
                <a href="mailto:mail@naveendb.com" class="d-flex w-100 m-0">
                  <p class="key col-6 p-0 d-flex justify-content-start">
                    <i class="fas fa-envelope p-2"></i>Email
                  </p>
                  <p class="value col-6 p-0 d-flex justify-content-end">
                    mail@naveendb.com
                  </p>
                </a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
