<div
  class="about-us-container pb-0 section-container section-container-gray-bg"
  id="about-us"
>
  <div class="row banner m-0 mt-1">
    <div
      class="col services section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center wow fadeInDown"
    >
      <h4 class="m-0 f-16">Who am I ?</h4>
      <h2 class="m-0 f-28"><strong>ABOUT ME</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <app-hexagon></app-hexagon>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 p-0 about-us-box wow fadeInUp">
        <div class="about-us-box-img">
          <img
            src="assets/img/about/profile4.jpg"
            alt="about"
            data-at2x="assets/img/about/profile.jpg"
          />
        </div>
        <!-- <span class="img-title">Naveen D B</span>
        <p class="img-desc">Front end developer, designer</p> -->
        <p class="img-links">
          <a
            href="https://www.linkedin.com/in/naveen-d-b-0310a693/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.facebook.com/naveendb.jain" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/naveendb92/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/naveendb92" target="_blank">
            <i class="fab fa-github-alt"></i>
          </a>
        </p>
      </div>
      <div class="col-12 col-lg-7 mt-4 about-us-box wow fadeInUp">
        <div class="about-us-box-text">
          <h1 class="line-height-inherit">
            <p class="title">Hello,</p>
            <p class="small-text">
              My name is <strong>Naveen</strong>. I work in
              <strong>Accenture AI</strong> - Bangalore and I specialize in User
              Interface Development and Design.
            </p>
            <p class="small-text">
              Born and raised in Bangalore, India and graduated from
              Visvesvaraya Technological University(VTU) with a major in
              Computer Science Engineering.
            </p>
            <p class="small-text">
              I love to draw since I was a child and this has lead me into UI
              field in the year 2015. Right from beginning, my career have been
              focused mainly on UI coding. Over the years have been learning
              best practises for coding, using it, and learning niche
              technologies to address the needs like performance, speed,
              responsive, etc and to improve my knowledge stack.
            </p>
            <p class="small-text">
              Along with coding, recently I have stepped into design field and
              this website that you're viewing was designed by
              <strong>Adobe XD</strong>. In my free time, I like to take a long
              walk, go for a bike ride, listen to music.
            </p>
            <p class="small-text">
              Started my career with
              <a href="https://flutura.com/" target="_blank">
                <strong>Flutura</strong>
              </a>
              , where I worked there for almost two years. Later, worked with
              <strong>Kogentix Inc</strong> which got acquired by
              <strong>Accenture</strong> in the yeard end of 2018.
            </p>
          </h1>
          <div class="border-top mb-4"></div>

          <div class="row address wow fadeInDown">
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key">
                <img
                  width="auto"
                  height="15px"
                  src="assets/img/about/address/location.jpg"
                  alt=""
                />
                Location
              </p>
              <p class="value">Bangalore, KA, INDIA</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key">
                <img
                  width="auto"
                  height="20px"
                  src="assets/img/about/address/age.jpg"
                  alt=""
                />
                Age
              </p>
              <p class="value">{{ age }} (10/12/1992)</p>
            </div>
          </div>

          <div class="row address wow fadeInDown">
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <p class="key">
                <img
                  width="auto"
                  height="17px"
                  src="assets/img/about/address/phone.jpg"
                  alt=""
                />
                Phone
              </p>
              <p class="value">+91-9916972978</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
              <address class="col-12 p-0">
                <a href="mailto:mail@naveendb.com" class="d-flex w-100 m-0">
                  <p
                    class="key col-6 p-0 d-flex justify-content-start align-items-center"
                  >
                    <img
                      class="pr-1"
                      width="auto"
                      height="15px"
                      src="assets/img/about/address/email.jpg"
                      alt=""
                    />
                    Email
                  </p>
                  <p class="value col-6 p-0 d-flex justify-content-end">
                    mail@naveendb.com
                  </p>
                </a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
