$black: #000000;
$white: #ffffff;
$sandy-brown: #c3a165;
$warm-grey: #777777;
$pinkish-grey: #cccccc;
$dark: #1d1a2b;
$dark-grey-blue: #2d3c4f;
$very-light-purple: #f6f2fe;
$ugly-blue:#316592;
$dark-aquamarine:#01796f;
$watermelon:#f45a5c;
$slate:#3c4b5e;
$f-12: 12px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-28: 28px;