<div class="WorkDetails" *ngIf="loaded">
  <div class="WorkDetails-Title">
    {{ workDetails.title }}
  </div>
  <div class="WorkDetails-KeyValue">
    <div class="WorkDetails-Key">
      <span>Introduction</span>
    </div>
    <div class="WorkDetails-Value">
      <span [innerHtml]="workDetails.shortDesc"> </span>
    </div>
  </div>

  <div class="WorkDetails-KeyValue">
    <div class="WorkDetails-Key">
      <span>Technologies Used</span>
    </div>
    <div class="WorkDetails-Value">
      <span
        class="WorkDetails-Technologies"
        *ngFor="let i of workDetails.technologies"
        >{{ i }}</span
      >
    </div>
  </div>

  <div class="WorkDetails-KeyValue">
    <div class="WorkDetails-Key">
      <span>Time Period</span>
    </div>
    <div class="WorkDetails-Value">
      <span [innerHtml]="workDetails.timePeriod"> </span>
    </div>
  </div>
</div>
