@import '../../sass/mixins';

.top-content .text {
    color: $dark-grey-blue;
    font-weight: 400;
    font-size: $f-16;
}
.top-content .text .title {
    color: $slate;
    font-weight: bold;
    font-size: 42px;
    font-family: 'Kameron', serif;
    margin: 15px 0px;
}
.download-cv{
    border: 1px solid $sandy-brown !important;
    border-radius: 30px !important;
    font-size: $f-14 !important;
    background: $sandy-brown !important;
    outline: none !important;
    a { 
        color: $beige !important;
    }
    i{
        padding-right: 10px;
    }
}
.download-cv:hover{
    background: $white !important;
    
    border: 1px solid $white !important;
    a{ color: $sandy-brown !important; }
}
.mat-button-wrapper{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

@media only screen and (max-width: 600px) {
    .top-content .text .title {
        font-size: 24px;
        font-weight: bold;
    }
    .top-content .text {
        font-size: $f-14;
    }
}