<div class="top-content" id="top-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 offset-md-2 p-0 text">
        <div class="wow fadeInLeftBig">
          <h1 class="title lax" data-lax-preset="zoomInOut blurOut-5">
            Curious Front-end Developer & Designer
          </h1>
        </div>
        <div class="description m-0 wow fadeInLeftBig">
          <p class="lax" data-lax-preset="zoomInOut blurOut-3"> Based in Bangalore, India. </p>
        </div>
        <div class="top-big-link wow fadeInUp d-flex justify-content-center">
          <button class="btn btn-primary downloadMyCV lax" data-lax-preset="blurOut-20">
            <a href="/assets/Resume.pdf" target="_blank">
              <i class="fas fa-download"></i> Download CV
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>