<div class="top-content" id="top-content">
  <div class="container">

    <div class="row">
      <div class="col-md-8 offset-md-2 text">
        <h1 class="wow fadeInLeftBig"><span class="brown">Hi, I'm </span> <span class="name"> NAVEEN DB </span></h1>
        <div class="description m-0 wow fadeInLeftBig">
          <p class="m-0"> Front End Developer and Designer. </p>
        </div>
        <div class="description m-0 wow fadeInLeftBig">
          <p> Based in Bangalore. </p>
        </div>
        <div class="top-big-link wow fadeInUp">
          <a class="btn download-cv" href="http://azmind.com"> <i class="fas fa-download"></i> Download CV </a>
        </div>
      </div>
    </div>

  </div>
</div>