<div class="top-content" id="top-content">
  <div class="container">

    <div class="row">
      <div class="col-md-9 offset-md-2 p-0 text">
        <!-- <h1 class="wow fadeInLeftBig"><span class="brown">Hi, I'm </span> <span class="name"> NAVEEN DB </span></h1> -->
        <h1 class="title wow fadeInLeftBig">
          Curious Front-end Developer
          &
          Designer
        </h1>
        <div class="description m-0 wow fadeInLeftBig">
          <p> Based in Bangalore, India. </p>
        </div>
        <div class="top-big-link wow fadeInUp d-flex justify-content-center">
          <!-- <a class="btn download-cv d-flex align-items-center justify-content-center" href="#top-content"> 
            <i class="fas fa-download"></i> Download CV 
          </a> -->
          <button mat-stroked-button class="download-cv">
            <!-- <i class="fas fa-download"></i> Download CV -->
            <a href="/assets/img/portfolio/Document2.pdf" target="_blank">
              <i class="fas fa-download"></i> Download CV
            </a>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>