<div class="services-container section-container" id="services">
  <div class="w-100 p-0 m-0">
    <div class="row banner m-0 mt-1">
      <div class="col services section-description wow fadeInDown">
        <h4 class="m-0 f-16">what I do</h4>
        <h2 class="m-0 f-28"><strong>MY WORKS</strong></h2>
        <div class="d-flex justify-content-center align-items-center">
          <div class="divider-1 line-border wow fadeInUp"></div>
          <app-hexagon></app-hexagon>
          <div class="divider-1 line-border wow fadeInUp"></div>
        </div>
      </div>
    </div>

    <div class="container p-0 my-work">
      <div class="my-work-header header-no">
        <span class="number">01</span> <span class="text">ACCENTURE AI</span>
      </div>

      <div class="row my-work-body">
        <div class="col-md-6 col-lg-4 my-work-kpi wow fadeInUp">
          <app-work-kpi (closeEvent)="closeWorkModal($event)"></app-work-kpi>
        </div>
        <div class="col-md-6 col-lg-4 my-work-kpi wow fadeInUp">
          <app-work-kpi (closeEvent)="closeWorkModal($event)"></app-work-kpi>
        </div>
        <div class="col-md-6 col-lg-4 my-work-kpi wow fadeInUp">
          <app-work-kpi (closeEvent)="closeWorkModal($event)"></app-work-kpi>
        </div>
      </div>
    </div>
  </div>

  <app-modal
    (closeEvent)="closeWorkModal($event)"
    [ModalOpenClose]="closeModal"
  >
    <!-- *ngIf="!closeModal" -->
  </app-modal>
</div>
