<div class="services-container section-container" id="services">
  <div class="w-100 p-0 m-0 ">
    <div class="row banner">
      <div class="col services section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center wow fadeInDown">
        <h4 class="m-0 f-16">what I did</h4>
        <h2 class="m-0 f-28"><strong>MY WORKS</strong></h2>
        <div class="d-flex justify-content-center align-items-center">
          <div class="divider-1 line-border wow fadeInUp"></div>
          <svg viewBox='0 0 120 100' class="hexagon wow fadeInUp">
            <path d='M38,2
                       L82,2 
                       A12,12 0 0,1 94,10 
                       L112,44 
                       A12,12 0 0,1 112,56
                       L94,90       
                       A12,12 0 0,1 82,98
                       L38,98
                       A12,12 0 0,1 26,90
                       L8,56
                       A12,12 0 0,1 8,44
                       L26,10
                       A12,12 0 0,1 38,2' />
          </svg>
          <div class="divider-1 line-border wow fadeInUp"></div>
        </div>
      </div>
    </div>

    <div class="container p-0">
      <div class="d-flex p-4 m-0 f-28 header-no">
        <span class="number">01</span> <span class="text">KOGENTIX INC.</span>
      </div>
      <div class="row m-0 work-widgets">
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card iot">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-wifi wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">IOT-Application</div>
              <div>
                <h6><strong>Asset Insights</strong></h6>
              </div>
              <div class="desc">An Asset monitoring application which tracks the asset behaviour and tracks location of the asset
                and
                helps to take right decisions.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card amp">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-database wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">AI-Application</div>
              <div>
                <h6><strong>AMP</strong></h6>
              </div>
              <div class="desc">Automated Machine Learning Platform (AMP) - helps organizations build AI applications that learn
                business, make timely recommendations
                to improve KPI's.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex p-4 m-0 f-28 header-no">
        <span class="number">02</span> <span class="text">FLUTURA DECISION SCIENCE AND ANALYTICS</span>
      </div>

      <div class="row m-0 work-widgets">
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card supply-chain">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-recycle wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">Inventory Management-Application</div>
              <div>
                <h6><strong>Supply Chain Forensics</strong></h6>
              </div>
              <div class="desc">
                Tool that allows you to manage all components and finished goods part numnbers.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card solar-watch">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-solar-panel wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">Inventory Management-Application</div>
              <div>
                <h6><strong>Solar Operations Watch</strong></h6>
              </div>
              <div class="desc">
                Developed an analytical product for the 'Internet of Things' infrastructure which aids the end user
                ensure the system will not run out of energy.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card asset-health">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-heartbeat wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">Asset Monitor-Application</div>
              <div>
                <h6><strong>Asset Health Monitor</strong></h6>
              </div>
              <div class="desc">
                Application that provides quick insights to the status of the components in the solar panel.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>