@import "../../sass/mixins";

.services-container {
  background-color: #fafafa;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  margin: 0px !important;
  padding: 1rem !important;
}
