<div class="services-container section-container" id="services">
  <div class="w-100 p-0 m-0 ">
    <div class="row banner">
      <div class="col services section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center wow fadeInDown">
        <h4 class="m-0 f-16">what I did</h4>
        <h2 class="m-0 f-28"><strong>MY WORKS</strong></h2>
        <div class="d-flex justify-content-center align-items-center">
          <div class="divider-1 line-border wow fadeInUp"></div>
          <svg viewBox='0 0 120 100' class="hexagon wow fadeInUp">
            <path d='M38,2
                       L82,2 
                       A12,12 0 0,1 94,10 
                       L112,44 
                       A12,12 0 0,1 112,56
                       L94,90       
                       A12,12 0 0,1 82,98
                       L38,98
                       A12,12 0 0,1 26,90
                       L8,56
                       A12,12 0 0,1 8,44
                       L26,10
                       A12,12 0 0,1 38,2' />
          </svg>
          <div class="divider-1 line-border wow fadeInUp"></div>
        </div>
      </div>
    </div>

    <div class="container p-0">
      <div class="d-flex p-4 m-0 f-28 header-no">
        <span class="number">01</span> <span class="text">KOGENTIX INC.</span>
      </div>
      <!-- <div class="row m-0 work-widgets"> -->
      <!-- <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card iot">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-wifi wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">IOT-Application</div>
              <div>
                <h6><strong>Asset Insights</strong></h6>
              </div>
              <div class="desc">An Asset monitoring application which tracks the asset behaviour and tracks location of
                the asset
                and
                helps to take right decisions.
              </div>
            </div>
          </div>
        </div> -->
      <!-- <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="mat-card amp">
            <div class="header"></div>
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fas fa-database wow fadeInUp"></i>
            </div>
            <div class="body">
              <div class="text-muted f-12">AI-Application</div>
              <div>
                <h6><strong>AMP</strong></h6>
              </div>
              <div class="desc">Automated Machine Learning Platform (AMP) - helps organizations build AI applications
                that learn
                business, make timely recommendations
                to improve KPI's.
              </div>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
      <div class="row m-0 work-widgets text-hover">
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="grid">
            <figure class="effect-goliath">
              <img src="https://wallpapersite.com/images/pages/pic_w/11962.jpg" alt="img30" />
              <figcaption>
                <div class="proj-title">Asset <span>Insights</span></div>
                <small>IOT-Application</small>
                <div class="proj-short-desc">
                  An Asset monitoring application which tracks the asset behaviour and tracks location
                  of
                  the asset
                  and
                  helps to take right decisions.
                </div>
                <p class="expand d-flex w-100 p-3 justify-content-end align-items-center">
                  <a href="#"> <i class="fas fa-expand"></i> </a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="grid">
            <figure class="effect-goliath">
              <img src="../../assets/img/img/work_amp1.jpg" alt="img30" />
              <figcaption>
                <div class="proj-title"> AMP </div>
                <small>AI - Application</small>
                <div class="proj-short-desc">
                  Automated Machine Learning Platform (AMP) - helps organizations build AI applications
                  that learn
                  business, make timely recommendations
                  to improve KPI's.
                </div>
                <p class="expand d-flex w-100 p-3 justify-content-end align-items-center">
                  <a href="#"> <i class="fas fa-expand"></i> </a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="d-flex p-4 m-0 f-28 header-no">
        <span class="number">02</span> <span class="text">FLUTURA DECISION SCIENCE AND ANALYTICS</span>
      </div>

      <div class="row m-0 work-widgets text-hover">
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="grid">
            <figure class="effect-goliath">
              <img src="https://www.xmple.com/wallpaper/white-orange-gradient-linear-2736x1824-c2-ffffff-ff8c00-a-30-f-14.svg"
                alt="img30" />
              <figcaption>
                <div class="proj-title"> Supply Chain Forensics </div>
                <small>Inventory Management-Application</small>
                <div class="proj-short-desc">
                  Tool that allows you to manage all components and finished goods part numnbers.
                </div>
                <p class="expand d-flex w-100 p-3 justify-content-end align-items-center">
                  <a href="#"> <i class="fas fa-expand"></i> </a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="grid">
            <figure class="effect-goliath">
              <img src="https://www.xmple.com/wallpaper/orange-blue-gradient-linear-1920x1080-c2-add8e6-fa9842-a-120-f-14.svg"
                alt="img30" />
              <figcaption>
                <div class="proj-title"> Solar Operations Watch </div>
                <small>Asset Monitor-Application</small>
                <div class="proj-short-desc">
                  Developed an analytical product for the 'Internet of Things' infrastructure which aids the end user
                  ensure the system will not run out of energy.
                </div>
                <p class="expand d-flex w-100 p-3 justify-content-end align-items-center">
                  <a href="#"> <i class="fas fa-expand"></i> </a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 mb-3 services-box wow fadeInUp work-kpi">
          <div class="grid">
            <figure class="effect-goliath">
              <img src="https://www.xmple.com/wallpaper/gradient-blue-linear-orange-1920x1080-c2-e0ffff-ff8c00-a-90-f-14.svg"
                alt="img30" />
              <figcaption>
                <div class="proj-title"> Asset Health Monitor </div>
                <small>Asset Monitor-Application</small>
                <div class="proj-short-desc">
                  Developed an analytical product for the 'Internet of Things' infrastructure which aids the end user
                  ensure the system will not run out of energy.
                </div>
                <p class="expand d-flex w-100 p-3 justify-content-end align-items-center">
                  <a href="#"> <i class="fas fa-expand"></i> </a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>