<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
  <div class="container">
    <h2>
      <strong>
        <a class="navbar-brandName scroll-link" href="#top-content"><span class="firstname">NAVEEN &nbsp;</span><span class="lastname">D B</span></a>
      </strong>
    </h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <button mat-button class="p-0">
          <strong><a class="nav-link scroll-link" href="#top-content">Home</a></strong>
        </button>
        <button mat-button class="p-0">
          <strong><a class="nav-link scroll-link" href="#services">Works</a></strong>
        </button>
        <button mat-button class="p-0">
          <strong><a class="nav-link scroll-link" href="#about-us">About</a></strong>
        </button>
        <button mat-button class="p-0">
          <strong><a class="nav-link scroll-link" href="#skills">Skills</a></strong>
        </button>
        <button mat-button class="p-0">
          <strong><a class="nav-link scroll-link" href="#resume">Resume</a></strong>
        </button>
        <button mat-button class="p-0">
          <strong><a class="nav-link scroll-link" href="#testimonials1">Testimonials</a></strong>
        </button>
      </ul>
    </div>
  </div>
</nav>