@import '../../sass/mixins';

.blog-container{
    padding-bottom: 40px !important;
}
.interests-box{
    // padding: 0em 10em;
    padding: 0px 20px;
}
.blog-box-image::before{
    content: '';
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-family: 'Kameron', serif;
}
.travel::before{
    content: 'LOVE TO TRAVEL';
}
.music::before{
    content: 'MUSIC';
}
.ride::before{
    content: 'RIDE';
}
.blog-box{
    visibility: visible !important;
}
.image-box{
    height: 175px;
    margin-bottom: 10px;
    padding: 0px !important;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 0px 10px 0 rgba(0,0,0,0.15);
    margin: 1px;
    margin-bottom: 1rem;

    img{
        border-radius: 5px;
        object-fit: cover;
    }
    .center {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-family: 'Kameron', serif;
        color: $white;
        width: 100%;
        font-weight: bold;
        cursor: default;
    }
}

.image-box:last-child {
    margin-bottom: 0px;
}