<!-- Blog -->
<div class="blog-container section-container">
  <div class="container">

    <div class="row">
      <div class="col blog section-description wow fadeIn">
        <h5 class="dark">INTERESTS</h5>
      </div>
    </div>

    <div class="row interests-box">
      <div class="col-md-4 m-0 mb-2 blog-box wow fadeInLeft">
        <div class="row h-100">
          <div class="col-md-12 h-100">
            <div class="blog-box-image travel h-100">
              <img class="h-100 w-100" src="assets/img/interests/travel.jpg" alt="" data-at2x="assets/img/interests/travel.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-0 mb-2 blog-box wow fadeInLeft">
        <div class="row h-100">
          <div class="col-md-12 h-100">
            <div class="blog-box-image music h-100">
              <img class="h-100 w-100" src="assets/img/interests/music.jpg" alt="" data-at2x="assets/img/interests/music.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-0 mb-2 blog-box wow fadeInLeft">
        <div class="row h-100">
          <div class="col-md-12 h-100">
            <div class="blog-box-image ride h-100">
              <img class="h-100 w-100" src="assets/img/interests/ride.jpg" alt="" data-at2x="assets/img/interests/ride.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>