<!-- Blog -->
<div class="blog-container section-container">
  <div class="container">

    <div class="row">
      <div class="col blog section-description wow fadeIn">
        <!-- <h5 class="dark">INTERESTS</h5> -->
        <h1 class="f-20 m-0 dark">INTERESTS</h1>
      </div>
    </div>

    <div class="row interests-box d-flex justify-content-around align-items-center">
      <div class="row col-10 p-0 d-flex justify-content-around">
        <div class="blog-box-image image-box col-6 col-lg-3 wow fadeInLeft">
          <img class="h-100 w-100" src="assets/img/interests/pondy_trip.jpg" alt="" data-at2x="assets/img/interests/travel.jpg">
          <div class="center">LOVE TO TRAVEL</div>
        </div>
        <div class="blog-box-image image-box col-6 col-lg-3 wow fadeInLeft">
          <img class="h-100 w-100" src="assets/img/interests/music4.jpg" alt="" data-at2x="assets/img/interests/music.jpg">
          <div class="center">MUSIC</div>
        </div>
        <div class="blog-box-image image-box col-6 col-lg-3 wow fadeInLeft">
          <img class="h-100 w-100" src="assets/img/interests/ride_trip3.jpg" alt="" data-at2x="assets/img/interests/ride.jpg">
          <div class="center">RIDE</div>
        </div>
      </div>
    </div>


  </div>
</div>