<div class="kpi-container">
  <div class="kpi-container-header">
    <div class="line-icon">
      <div class="line"></div>
      <div class="icon">
        <i [ngClass]="data.icon"></i>
      </div>
      <div class="line"></div>
    </div>
    <div class="title">
      {{ data.name }}
    </div>
  </div>
  <div class="kpi-container-body">
    <div class="triangle">
      <i class="fa fa-expand" (click)="openWorkModal(data)"></i>
    </div>
    <span class="desc" [innerHtml]="data.desc"> </span>
  </div>
</div>
