<div class="skills-container section-container" id="skills">
  <div class="row banner">
    <div class="col services section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center wow fadeInDown">
      <h4 class="m-0 f-16">What I know</h4>
      <h2 class="m-0 f-28"><strong>PROFESSIONAL SKILLS</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <svg viewBox='0 0 120 100' class="hexagon wow fadeInUp">
          <path d='M38,2
                         L82,2 
                         A12,12 0 0,1 94,10
                         L112,44 
                         A12,12 0 0,1 112,56
                         L94,90       
                         A12,12 0 0,1 82,98
                         L38,98
                         A12,12 0 0,1 26,90
                         L8,56
                         A12,12 0 0,1 8,44
                         L26,10
                         A12,12 0 0,1 38,2' />
        </svg>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row skills-section">
      <div class="col-12 col-lg-12 wow fadeInUp">
        <div class="mat-tabs-centered-wrapper">
          <mat-tab-group mat-stretch-tabs>
            <mat-tab label="DEVELOPER SKILLS">
              <div class="row wow fadeInDown developer-skills">
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> javascript framework </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : Angular 5/7, AngularJS, jQuery </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> ui framework </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : Angular Material, Bootstrap 4, Zurb Foundation </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> javascript transpilers </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : Typescript </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> css pre-processors </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : SCSS </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> data visualization tool </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : Highcharts, D3.js, NVD3, Morris.js, jQuery Sparklines </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> javascript build tool </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : Gulp </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle p-3"></i>
                  <p class="key text-ellipse m-0"> version control </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : GitHub </p>
                </div>

                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <i class="fas fa-circle design-tool p-3"></i>
                  <p class="key text-ellipse m-0"> design tool </p>
                </div>
                <div class="col-6 col-lg-6 d-flex justify-content-start align-items-center">
                  <p class="value text-ellipse m-0"> : Adobe XD CC </p>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="DESIGN SKILLS">
              <div class="row wow fadeInDown design-skills">
                <div class="col-12 col-lg-6">
                  <img src="/assets/img/skills/images.png">
                  <p>Adobe XD CC</p>
                </div>
                <div class="col-12 col-lg-6">
                  <img src="/assets/img/skills/ps@2x.png">
                  <p>Photoshop</p>
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>

      </div>
    </div>
  </div>
</div>