@import "../../sass/mixins";

.skills-container {
  // background: url(/assets/img/works/background.jpg) repeat;
  background-color: $white;
  padding: 0px !important;
}
.skills-section {
  #dev_skills,
  #design_skills {
    path {
      fill: $sandy-brown;
    }
    .google-visualization-tooltip {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
}
