<!-- <div class="more-services-container section-container" id="about-us">
  <div class="container">

    <div class="row">
      <div class="col more-services section-description wow fadeIn">
        <h2>More Services</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 more-services-box wow fadeInLeft">
        <div class="row">
          <div class="col-md-3">
            <div class="more-services-box-icon">
              <i class="fab fa-twitter"></i>
            </div>
          </div>
          <div class="col-md-9">
            <h3>Ut wisi enim ad minim</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 more-services-box wow fadeInLeft">
        <div class="row">
          <div class="col-md-3">
            <div class="more-services-box-icon">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </div>
          <div class="col-md-9">
            <h3>Sed do eiusmod tempor</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 more-services-box wow fadeInLeft">
        <div class="row">
          <div class="col-md-3">
            <div class="more-services-box-icon">
              <i class="fas fa-cloud"></i>
            </div>
          </div>
          <div class="col-md-9">
            <h3>Quis nostrud exerci tat</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 more-services-box wow fadeInLeft">
        <div class="row">
          <div class="col-md-3">
            <div class="more-services-box-icon">
              <i class="fab fa-pinterest"></i>
            </div>
          </div>
          <div class="col-md-9">
            <h3>Minim veniam quis nostrud</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              Ut wisi enim ad minim veniam, quis nostrud.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->