@import '../../sass/mixins';

.skills-section{
    .mat-tab-header, .mat-tab-nav-bar{
        border-bottom: none !important;
    }
    .mat-tab-body-content{
        overflow: hidden;
    }
    .mat-ink-bar{
        background-color: transparent !important;
    }
    .mat-tab-label-active{
        border: 1px dashed $sandy-brown;
        opacity: 1;
        color: $sandy-brown;
    }
    .design-skills{
        margin-top: 50px;
        img{
            border: 1px solid $very-light-purple;
            padding: 5px;
            height: 125px;
            width: 125px;
            margin-bottom: 15px;
        }
        p{
            font-size: $f-12;
            color: $slate;
            font-weight: bold;
        }
    }
    .developer-skills{
        margin-top: 50px;
        .key{
            text-transform: uppercase;
            color: $slate;
            font-size: 12px;
            font-weight: 500;
        }
        .value{
            color: $warm-grey;
            font-size: 12px;
            font-weight: 500;
        }
        .fa-circle{
            color: $sandy-brown;
            font-size: $f-12;
        }
        .fa-circle::after{
            content: '';
            position: absolute;
            border: 0.8px solid $sandy-brown;
            background: $sandy-brown;
            height: 34px;
            display: flex;
            top: 27px;
            left: 36.5px;
        }
        .design-tool::after{
            content: '';
            position: absolute;
            border: 0.8px solid $white;
            background: $white;
            height: 33px;
            display: flex;
            top: 30px;
            left: 37.2px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .developer-skills{
        .key, .value{
            font-size: 8px !important;
        }
    }
    .mat-tab-label-content{
        font-size: 10px !important;
    }
}
