<h2 mat-dialog-title class="d-flex justify-content-between align-items-center m-0 pl-4 pt-2 pr-3">
  <span>{{data['title']}}</span>
  <i class="fa fa-times" (click)="closeModal()"></i>
</h2>
<div mat-dialog-content class="mat-typography">
  <mat-tab-group (selectedTabChange)="tabClick($event)">

    <mat-tab label="Overview">
      <div class="text-left p-0 pl-3 pt-3">
        <div [innerHTML]="data['overviewDesc']"></div>
      </div>
    </mat-tab>

    <mat-tab label="Screenshots">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- <div mat-dialog-actions align="end">
  <small>Note: Screen where are developmed by myself*</small>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</div> -->