<!-- Portfolio -->
<div class="resume-container section-container background-alt-dark" id="resume">
  <div class="row banner mt-1">
    <div
      class="col portfolio section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center"
    >
      <h4 class="m-0 f-16">Experience & Education</h4>
      <h2 class="m-0 f-28"><strong>RESUME</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <app-hexagon></app-hexagon>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row experience">
      <div class="col-12 mt-4">
        <h5 class="d-flex dark">JOB EXPERIENCES</h5>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp pl-3 pr-3 pt-4 pb-4"
      >
        <div class="bg-white shadow pl-3 pr-3 pt-4 pb-4">
          <div class="col-12 p-0 d-flex experience-box-icon-header">
            <div class="experience-icon active">
              <i class="fas fa-briefcase"></i>
            </div>

            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title m-0 text-ellipse w-100 text-left">ACCENTURE AI</p>
              <p class="date-range">01/12/2018 - Present</p>
            </div>
          </div>
          <div class="experience-box-desc text-left">
            Worked for the product <b>AMP</b> and an internal project
            <b>IOT</b>.
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp pl-3 pr-3 pt-4 pb-4"
      >
        <div class="bg-white shadow pl-3 pr-3 pt-4 pb-4">
          <div class="col-12 p-0 d-flex experience-box-icon-header">
            <div class="experience-icon">
              <i class="fas fa-briefcase"></i>
            </div>

            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title m-0 text-ellipse w-100 text-left">
                KOGENTIX INC. <small>(acquired by Accenture)</small>
              </p>
              <p class="date-range">04/06/2017 - 30/11/2018</p>
            </div>
          </div>
          <div class="experience-box-desc text-left">
            Worked for the product <b>AMP</b> and an internal project
            <b>IOT</b>.
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp pl-3 pr-3 pt-4 pb-4"
      >
        <div class="bg-white shadow pl-3 pr-3 pt-4 pb-4">
          <div class="col-12 p-0 d-flex experience-box-icon-header">
            <div class="experience-icon">
              <i class="fas fa-briefcase"></i>
            </div>

            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title m-0 text-ellipse w-100 text-left">
                Flutura Decision Sciences and Analytics
              </p>
              <p class="date-range">10/08/2015 - 19/05/2017</p>
            </div>
          </div>
          <div class="experience-box-desc text-left">
            Involved in design and development of the application.
          </div>
        </div>
      </div>

      <div class="col-12 mt-4">
        <h5 class="d-flex dark">EDUCATIONAL QUALIFICATION</h5>
      </div>

      <div class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp p-3">
        <div class="bg-white shadow p-3">
          <div class="col-12 p-0 d-flex education-box-icon-header">
            <div
              class="education-icon d-flex align-items-center justify-content-center"
            >
              <i class="fas fa-pencil-alt"></i>
            </div>
            <mat-divider class="divider" [vertical]="true"></mat-divider>
            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title m-0 text-ellipse w-100 text-left">
                CAMBRIDGE INSTITUTE OF TECHNOLOGY
              </p>
              <p class="date-range m-0">BE-CSE (2011-2015)</p>
              <p class="location m-0">
                <i class="fas fa-map-marker-alt mr-2"></i> Bangalore, KA
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp p-3">
        <div class="bg-white shadow p-3">
          <div class="col-12 p-0 d-flex education-box-icon-header">
            <div
              class="education-icon d-flex align-items-center justify-content-center"
            >
              <i class="fas fa-pencil-alt"></i>
            </div>
            <mat-divider class="divider" [vertical]="true"></mat-divider>
            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title m-0 text-ellipse w-100 text-left">
                SRI BHAGAWAN MAHAVEER JAIN COLLEGE
              </p>
              <p class="date-range m-0">PUC (2009-2011)</p>
              <p class="location m-0">
                <i class="fas fa-map-marker-alt mr-2"></i> Bangalore, KA
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp p-3">
        <div class="bg-white shadow p-3">
          <div class="col-12 p-0 d-flex education-box-icon-header">
            <div
              class="education-icon d-flex align-items-center justify-content-center"
            >
              <i class="fas fa-pencil-alt"></i>
            </div>
            <mat-divider class="divider" [vertical]="true"></mat-divider>
            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title m-0 text-ellipse w-100 text-left">
                SACRED HEART BOYS SCHOOL
              </p>
              <p class="date-range m-0">SSLC (2006-2009)</p>
              <p class="location m-0">
                <i class="fas fa-map-marker-alt mr-2"></i> Bangalore, KA
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
