<!-- Portfolio -->
<div class="resume-container section-container" id="resume">
  <div class="row banner">
    <div class="col portfolio section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center">
      <h4 class="m-0 f-16">Experience & Education</h4>
      <h2 class="m-0 f-28"><strong>RESUME</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <svg viewBox='0 0 120 100' class="hexagon wow fadeInUp">
          <path d='M38,2
                             L82,2 
                             A12,12 0 0,1 94,10
                             L112,44 
                             A12,12 0 0,1 112,56
                             L94,90       
                             A12,12 0 0,1 82,98
                             L38,98
                             A12,12 0 0,1 26,90
                             L8,56
                             A12,12 0 0,1 8,44
                             L26,10
                             A12,12 0 0,1 38,2' />
        </svg>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row experience">

      <div class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp pl-3 pr-3 pt-4 pb-4">
        <div class="shadow pl-3 pr-3 pt-4 pb-4">
          <div class="col-12 p-0 d-flex experience-box-icon-header">
            <div class="experience-icon active">
              <i class="fas fa-briefcase"></i>
            </div>

            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title text-ellipse w-100"> KOGENTIX INC. <small>(acquired by Accenture)</small> </p>
              <p class="date-range"> 04/06/2017 - Present</p>
            </div>

          </div>
          <div class="experience-box-desc text-left">
            Worked for the product <b>AMP</b> and an internal project <b>IOT</b>.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex flex-column p-0 wow fadeInUp pl-3 pr-3 pt-4 pb-4">
        <div class="shadow pl-3 pr-3 pt-4 pb-4">
          <div class="col-12 p-0 d-flex experience-box-icon-header">
            <div class="experience-icon">
              <i class="fas fa-briefcase"></i>
            </div>

            <div class="col-10 d-flex flex-column align-items-start">
              <p class="title text-ellipse w-100"> Flutura Decision Sciences and Analytics </p>
              <p class="date-range"> 10/08/2015 - 19/05/2017</p>
            </div>

          </div>
          <div class="experience-box-desc text-left">
            Involved in design and development of the application.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>