<!-- testimonials -->
<div class="testimonials1-container section-container" id="testimonials1">
  <div class="row banner mt-1">
    <div class="col portfolio section-description wow fadeIn m-0 p-3 d-flex flex-column justify-content-center">
      <h4 class="m-0 f-16">What people say</h4>
      <h2 class="m-0 f-28"><strong>TESTIMONIALS</strong></h2>
      <div class="d-flex justify-content-center align-items-center">
        <div class="divider-1 line-border wow fadeInUp"></div>
        <app-hexagon></app-hexagon>
        <div class="divider-1 line-border wow fadeInUp"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row experience">
      <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems" class="w-100">
        <div *nguCarouselDef="let item" class="item testimonials">
          <div class="tile">
            <!-- <div class="name">
              <span class="title"> {{ item["title"] }} </span>
              <p class="sub-title">({{ item["subTitle"] }})</p>
            </div>

            <div class="img">
              <img src="{{ item['img'] }}" alt="Profile" width="100" height="100" />
            </div>

            <div class="message">
              <p class="m-0" [innerHtml]="item.message"></p>
            </div> -->

            <div class="col-lg-4 name">
              <div><span class="title"> {{ item["title"] }} </span></div>
              <div><p class="sub-title">({{ item["subTitle"] }})</p></div>
              <div class="img">
                <img src="{{ item['img'] }}" alt="Profile" width="100" height="100" />
              </div>
            </div>
            <div class="col-lg-8 desc">
              <div class="message">
                <p class="m-0" [innerHtml]="item.message"></p>
              </div>
            </div>

            <!-- <div class="redirect" matTooltip="View on LinkedIn" matTooltipClass="hoverLinkedIn" (click)="handleLinkedInClick()">
              <svg
                height="100%"
                viewBox="0 0 24 24"
                width="100%"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
                ></path>
              </svg>
            </div> -->
          </div>
        </div>
        <button NguCarouselNext class="rightRs">
          <i class="fas fa-chevron-right"></i>
        </button>
        <button NguCarouselPrev class="leftRs">
          <i class="fas fa-chevron-left"></i>
        </button>
        <ul class="myPoint" NguCarouselPoint>
          <li
            *ngFor="let j of myCarousel.pointNumbers; let j = index"
            [class.active]="j == myCarousel.activePoint"
            (click)="myCarousel.moveTo(j)"
          ></li>
        </ul>
      </ngu-carousel>
    </div>
  </div>

  <app-interests></app-interests>
  <app-connect></app-connect>
</div>
